---
tables:
    cache:
        truncate: true
    cache_*:
        truncate: true
    sessions:
        truncate: true

    users:
        converters:
            mail:
                converter: 'randomizeEmail'
            init:
                converter: 'randomizeEmail'
                unique: true
            name:
                converter: 'randomizeText'
                unique: true
            pass:
                converter: 'randomizeText'

    commerce_order:
        converters:
            mail:
                converter: 'randomizeEmail'
                unique: true
            hostname:
                converter: 'faker'
                parameters:
                    formatter: 'ipv4'

    commerce_order_revision:
        converters:
            mail:
                converter: 'randomizeEmail'
                unique: true
            revision_hostname:
                converter: 'faker'
                parameters:
                    formatter: 'ipv4'
