---
tables:
    cache_*:
        truncate: true
    sessions:
        truncate: true
    commerce_payment_method*:
        truncate: true

    users_field_data:
        converters:
            mail:
                converter: 'randomizeEmail'
            init:
                converter: 'randomizeEmail'
                unique: true
            name:
                converter: 'randomizeText'
                unique: true
            pass:
                converter: 'randomizeText'

    commerce_order:
        converters:
            mail:
                converter: 'randomizeEmail'
                unique: true
            ip_address:
                converter: 'faker'
                parameters:
                    formatter: 'ipv4'

    commerce_store_field_data:
        converters:
            mail:
                converter: 'randomizeEmail'
                unique: true
