parameters:
    level: 8
    paths:
        - app
        - bin
        - src
        - tests
    ignoreErrors:
        -
            identifier: missingType.iterableValue

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
