parameters:
    level: 6
    paths:
        - bin
        - src
        - tests
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager::getConnection\(\)#'
            path: src/Database
        -
            message: '#Method [a-zA-Z\\]+::configure\(\) has no return typehint specified#'
            path: src/Console/Command
