---
extends: 'magento2'
version: '2.4.6'

database:
    host: '%env(DB_HOST)%'
    user: '%env(DB_USER)%'
    password: '%env(DB_PASSWORD)%'
    name: '%env(DB_NAME)%'

tables:
    # Don't anonymize admin accounts belonging to the "Acme" company
    admin_user:
        skip_conversion_if: 'strpos({{email}}, "@acme.fr") !== false'

    # Dump only recent quotes
    quote:
        where: 'created_at > date_sub(now(), interval 60 day)'

    # Dump only recent orders
    sales_order:
        where: 'created_at > date_sub(now(), interval 60 day)'

    # Anonymize a custom table named "my_custom_table"
    my_custom_table:
        converters:
            email:
                converter: 'randomizeEmail'
                unique: true
