---
extends: 'magento2'
version: '2.4.0'

database:
    user: 'magento2'
    password: '%env(DB_PASSWORD)%'
    name: 'magento2'

dump:
    output: 'magento2-{Y-m-d H:i:s}.sql.bz2'
    compress: 'bzip2'

tables:
    # Don't anonymize accounts belonging to the "Acme" company
    admin_user:
        skip_conversion_if: 'strpos({{email}}, "@acme.fr") !== false'

    # Dump only recent quotes
    quote:
        filters:
            - ['created_at', 'gt', 'expr: date_sub(now(), interval 60 day)']

    # Dump only recent orders
    sales_order:
        filters:
            - ['created_at', 'gt', 'expr: date_sub(now(), interval 60 day)']

    # Anonymize a table named "my_custom_table"
    my_custom_table:
        converters:
            email:
                converter: 'randomizeEmail'
                unique: true
