---
parameters:
    config.schema_file: '%app_root%/app/config/schema.json'
    config.templates_dir: '%app_root%/app/config/templates'

services:
    _defaults:
        autowire: false # not phar friendly
        autoconfigure: false # not useful in this app
        public: false

    command.dump:
        class: 'Smile\GdprDump\Console\Command\DumpCommand'
        public: true
        arguments:
            - '@dumper'
            - '@dumper.config'
            - '@dumper.config_loader'
            - '@config.schema_validator'

    config.file_locator:
        class: 'Smile\GdprDump\Config\Loader\FileLocator'
        arguments:
            - '%config.templates_dir%'

    config.parser:
        class: 'Smile\GdprDump\Config\Parser\YamlParser'

    config.schema_validator:
        class: 'Smile\GdprDump\Config\Validator\JsonSchemaValidator'
        arguments:
            - '%config.schema_file%'

    converter.factory:
        class: 'Smile\GdprDump\Converter\ConverterFactory'
        arguments:
            - '@converter.resolver'
            - '@faker.service'

    converter.resolver:
        class: 'Smile\GdprDump\Converter\ConverterResolver'

    dumper:
        class: 'Smile\GdprDump\Dumper\SqlDumper'
        public: true # used by functional tests
        arguments:
            - '@converter.factory'

    dumper.config:
        class: 'Smile\GdprDump\Config\Config'
        public: true # used by functional tests

    dumper.config_loader:
        class: 'Smile\GdprDump\Config\Loader\ConfigLoader'
        public: true # used by functional tests
        arguments:
            - '@dumper.config'
            - '@config.parser'
            - '@config.file_locator'

    faker.service:
        class: 'Smile\GdprDump\Faker\FakerService'
        arguments:
            - '@dumper.config'
